client/build/jacocoHtml/* linguist-vendored
client/build/jacocoHtml/client.scenes/* linguist-vendored
client/build/jacocoHtml/client.utils/* linguist-vendored
client/build/jacocoHtml/client/* linguist-vendored

commons/build/* linguist-vendored

server/build/* linguist-vendored
